@model Masrofat
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />
<div class="container" style="background-color: darkmagenta;">
    <h1 class="text-center" style="color:white">المصروفات اليوميه</h1>
</div>
<form style="margin-top: 50px; background-color: azure; margin-right: 20px;" asp-action="create">
    <div class="row">
        <div class="form-group col-4">
            <label>نوع المصروف</label>
            <textarea type="text" asp-for="masrof_type" class="form-control"></textarea>

            <span class="text-danger" asp-validation-for="masrof_type"></span>

            <label>قيمة المصروف</label>
            <input type="number" asp-for="amount" class="form-control" />
            <span class="text-danger" asp-validation-for="amount"></span>

        </div>
        <div class="form-group col-4">
            <h1 class="text-dark text-center">اجمالى مصروفات اليوم</h1>
            <h2 class="text-danger text-center" style="border:solid#000000">@ViewBag.totalday</h2>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-4">
            <button type="submit" asp-action="Create" class="btn btn-primary">حفظ المصروف</button>
        </div>
    </div>

</form>


<div class="col-md-6">

    <table class="table table-bordered table-striped" style="margin-top:50px;">
        <thead style="background-color: aqua;">
            <tr>
                <th>
                    نوع المصروف
                </th>
                <th>
                    تاريخ الصرف
                </th>
                <th>
                    مبلغ الصرف
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Masrofat masrofat in ViewBag.masrofat)
            {
                <tr>
                    <td>
                        @masrofat.masrof_type
                    </td>
                    <td>
                        @masrofat.addtime_masrof
                    </td>
                    <td>
                        @masrofat.amount
                    </td>
                    <td>

                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@masrofat.id_masrof" onclick="return confirm('هل تريد حذف العنصر المحدد؟')">
                            حذف
                            <i class="fa fa-trash"></i>

                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


